.pic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.top {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.username-and-flair {
  margin: 0px 10px;
  display: flex;
}

.flair {
  margin-left: 2px;
  height: 14px;
  width: 14px;
  margin-bottom: -3px;
}

.empty {
  cursor: pointer;
}

.heart {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

.likes {
  margin-left: 3px;
}

.created-time {
  display: flex;
  margin-right: 10px;
}
